<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />

<body>
	<div th:include="fragments :: header">?</div>

	<div class="mainpane">

		<h1>Debug</h1>

		<hr />
		<h3 th:text="'Page Render Time : ' + ${#dates.format(#dates.createNow(),'HH:mm:ss')}">?</h3>

		<hr />
		<h2>Local Connection Information</h2>
		<table class="myData">
			<tr>
				<th>Client Hazelcast Address</th>
			</tr>
			<tr>
				<td th:text="${#httpSession.getAttribute('Client Address')}">?</td>
			</tr>
		</table>
		
		<hr />
		<h2>Remote Connection Information</h2>
		<table class="myData">
			<tr>
				<th th:each="column : ${columns}" th:text="${column}" />
			</tr>

			<tr th:each="datum : ${data}">
				<td th:each="item : ${datum}" th:text="${item}" />
			</tr>
		</table>

		<hr />
		<h2>Session Information</h2>

		<h3 th:if="${sessionCount} > 0"
			th:text="'Total Sessions : ' + ${sessionCount}">?</h3>
		
		<table class="myData">
			<tr>
				<th colspan="3" th:text="'This Session Id : ' + ${#httpSession.id}">?</th>
			</tr>
			<tr>
				<td>Last Accessed Time</td>
				<td th:text="${#httpSession.lastAccessedTime}">?</td>
				<td th:text="${'(' + #dates.format(new java.util.Date(#httpSession.lastAccessedTime)) + ')'}">?</td>
			</tr>
			<tr>
				<td>User Agent</td>
				<td colspan="2" th:text="${#httpSession.getAttribute('User-Agent')}">?</td>
			</tr>
			<tr>
				<td>Main Menu Accesses</td>
				<td colspan="2">
					<table class="myData" style="width:100%">
						<tr>
							<th>Client Web Address</th>
							<th>Count</th>
						</tr>
						<tr th:each="entry : ${#httpSession.getAttribute('Main Menu')}">
							<td th:text="${entry.key}">?</td>
							<td th:text="${entry.value}">?</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>Debug Page Accesses</td>
				<td colspan="2">
					<table class="myData" style="width:100%">
						<tr>
							<th>Client Web Address</th>
							<th>Count</th>
						</tr>
						<tr th:each="entry : ${#httpSession.getAttribute('Debug Page')}">
							<td th:text="${entry.key}">?</td>
							<td th:text="${entry.value}">?</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</div>

	<div th:include="fragments :: footer">?</div>
</body>

</html>